name: Solved Problems Counter

on:
  push:
    branches:
      - main

jobs:
  count-solved-problems:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Count Total Solved Problems
        id: count_total
        run: |
          solved_count=$(find ./Solved -type f | wc -l)
          echo "::set-output name=total_count::$solved_count"

      - name: Count Python Problems
        id: count_python
        run: |
          python_count=$(find ./Solved -type f -name "*.py" | wc -l)
          echo "::set-output name=python_count::$python_count"

      - name: Count C++ Problems
        id: count_cpp
        run: |
          cpp_count=$(find ./Solved -type f -name "*.cpp" | wc -l)
          echo "::set-output name=cpp_count::$cpp_count"

      - name: Count JavaScript Problems
        id: count_js
        run: |
          js_count=$(find ./Solved -type f -name "*.js" | wc -l)
          echo "::set-output name=js_count::$js_count"

      - name: Update README
        run: |
          sed -i "s/INSERT_TOTAL_NUMBER/${{ steps.count_total.outputs.total_count }}/g" README.md
          sed -i "s/INSERT_PYTHON_COUNT/${{ steps.count_python.outputs.python_count }}/g" README.md
          sed -i "s/INSERT_CPP_COUNT/${{ steps.count_cpp.outputs.cpp_count }}/g" README.md
          sed -i "s/INSERT_JS_COUNT/${{ steps.count_js.outputs.js_count }}/g" README.md
          echo -e "\n---\n\nThis text was added by the GitHub Actions workflow." >> README.md
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config user.name "github-actions[bot]"
          git commit -am "Automated report"
          git push
        working-directory: ./  
